.App {
  text-align: center;

}

.Header {
  text-align: center;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vw;

}

@media (max-width: 768px) {
  .App-logo {
    height: 240px;  }
}
@media (min-width: 768px) {
  .App-logo {
    height: 240px;  }
}
@media (min-width: 992px) {
  .App-logo {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .App-logo {
    height: 560px;
  }
}


.social-header {
  top: 20em;
}

.social-icon {
  height: 40px;
}

.social-icon:before {
	content:'';
  position: absolute;
  width: 0px;
	background: rgba(255,255,255,0.3);
	transition: all 2s ease;
} 
.social-icon:hover:before {
	width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page {
  margin: 20px;
  }
  .interactions {
  text-align: center;
  padding-top: 30px;
  
  }
  .Button{
  
    background: #3a3737;
    border: 1px solid #e3e3e3;
    font-size: 2vw;
    }

  .table {
  margin: 20px 0;
  width: 90vw;
  }
  .table-header {
  display: flex;
  line-height: 24px;
  font-size: 2vw;
  justify-content: space-between;
  }
  .table-empty {
  margin: 200px;
  text-align: center;
  font-size: 2vw;
  }
  .table-row {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    }

    .table-row-header {
      display: flex;
      line-height: 24px;
      white-space: nowrap;
      margin: 10px 0;
      padding: 10px;
      background: #0a030342;
      border: 1px solid #e3e3e300;
      }
    .table-header > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    }
    .table-row > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0px;
    font-size: 2.5vw;

    }

    @media (min-width: 700px) {
      .table-row > span {
        font-size: 2vw;  }
    }

    @media (min-width: 1000px) {
      .table-row > span {
        font-size: 1.8vw;  }
    }

    @media (min-width: 1200px) {
      .table-row > span {
        font-size: 1.6vw;  }
    }

    @media (min-width: 1400px) {
      .table-row > span {
        font-size: 1.4vw;  }
    }

    @media (min-width: 1600px) {
      .table-row > span {
        font-size: 1.2vw;  }
    }

    /* @media (min-width: 250px) {
      .table {
        width: 200px;  }
    }
    
    @media (min-width: 500px) {
      .table {
        width: 450px;  }
    }

    @media (min-width: 630px) {
      .table {
        width: 580px;  }
    }
    @media (min-width: 768px) {
      .table {
        width: 718px;  }
    }
    @media (min-width: 992px) {
      .table {
        width: 942px;
      }
    }
    @media (min-width: 1200px) {
      .table {
        width: 1150px;
      }
    } */

    .button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    }
    .button-active {
    border-radius: 0;
    border-bottom: 1px solid #38BB6C;
    }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
#logo-text {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8vw;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  margin-bottom: 30px;
}
#logo-text:after {
  content:"Hackernews clone example";
  position: absolute;
  left: 8px;
  top: 32px;
}
#logo-text:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

/* @media (min-width: 250px) {
  #logo-text {
    font-size: 15px;  }
}

@media (min-width: 500px) {
  #logo-text {
    font-size: 25px;  }
}
@media (min-width: 768px) {
  #logo-text {
    font-size: 25px;  }
}
@media (min-width: 992px) {
  #logo-text {
    font-size: 75px;
  }
}
@media (min-width: 1200px) {
  #logo-text {
    font-size: 150px;
  }
} */



.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(71, 68, 68);
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
 
}

